:root {
  --primary-color: #00c26f;
  --primary-color-dark: #00AC62;
  --primary-color-light: #63d18e;

  --white-color: #ffffff;
  --black-color: #000000;

  --text-primary: #48546e;
  --text-primary-dark: #20242d;
  --text-primary-light: #5f6c87;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}